<div class="movieWrapper">
  <h2 id="title">{{movie.Title}}</h2>
  <img src="{{movie.Poster}}" alt="{{movie.Title}} poster">
  <div class="content">
    <p class="info">Starring</p>
    <p>{{movie.Actors}}</p>
    <p class="info">Plot</p>
    <p>{{movie.Plot}}</p>
    <h2>Additional Details</h2>
    <p class="info">Awards</p>
    <p>{{movie.Awards}}</p>
    <p class="info">Country</p>
    <p>{{movie.Country}}</p>
    <p class="info">Director</p>
    <p>{{movie.Director}}</p>
    <p class="info">Genre</p>
    <p>{{movie.Genre}}</p>
    <p class="info">Language</p>
    <p>{{movie.Language}}</p>
    <p class="info">Metascore</p>
    <p>{{movie.Metascore}}</p>
    <p class="info">Rated</p>
    <p>{{movie.Rated}}</p>
    <p class="info">Released</p>
    <p>{{movie.Released}}</p>
    <p class="info">Runtime</p>
    <p>{{movie.Runtime}}</p>
    <p class="info">Writer</p>
    <p>{{movie.Writer}}</p>
    <p class="info">Year</p>
    <p>{{movie.Year}}</p>
    <p class="info">imdbRating</p>
    <p>{{movie.imdbRating}}</p>   
  </div>
</div>